$accent-color: #A7061A;

@font-face {
  font-family: Dosis;
  src: url('./../../fonts/Dosis-Regular.ttf') format('ttf'),
    url('./../../fonts/Dosis-Bold.ttf') format('ttf');
}

body {
  background-color: #FFFFFF;
  background: url("./../../img/background-image.gif") repeat;
  color: #000000;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  max-width: 800px !important;
  margin: 0 auto;
}

body > .container {
  width: 100% !important;
}

a {
  color: $accent-color;
  font-weight: bold;
}

a:hover {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

label {
  margin-bottom: 2%;
}

.col {
  background: transparent !important;
  border: none;
}

.inner-box {
  margin: 0rem !important;
  border: 2px solid #000000;
  background: #FFFFFF !important;
  text-align: center;
  padding: 5%;
  overflow-wrap: break-word;
}

.jumbotron {
  text-align: center;
  background-color: #000000;
  padding: 1rem 0;
  z-index: 1000;
  margin-bottom: 0;
  h1{
    font-size: 8rem;

  }
}

.footer{
  background-color: #000000;
}

.btn, .btn:focus, .btn:active {
  background: #000000;
  color: #FFFFFF;
  font-size: 2rem;
  margin-top: 4%;
  width: 40%;
}

.btn:hover {
  background: $accent-color;
  color: #FFFFFF;
}

.error {
  color: #c5071d !important;
}

.left {
  height: 373px;
}
.right {
  min-height: 373px;
}


.output-label {
  font-weight: bold;
  span{
    font-weight: normal;
  }
}

.row {
  margin: 0;
}

.farbtastic {
  display: block;
  margin: 2rem auto 0;
}

#main {
  margin-top: 131px;
  margin-bottom: 55px;
}

#color-img {
  width: 16%;
  height: auto;
  margin-bottom: 3%;
  margin-top: 2%;
  margin-left: 5%;
}

#info-img {
  width: 18%;
  height: auto;
  margin-bottom: 0.7%;
  margin-top: 2%;
}

#info {
  text-align: left;
  padding: 2.5% 2.5% 1%;
}

#copyright {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0;
}

#input-color {
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 150px;
  border: none;
  background: transparent;
}

#output-error {
  border: none;
  min-height: 0;
  padding: 20% 25% 0;
}

#github-link {
  text-align: right;
  margin-top: -2.2rem;
}
